@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Google Translate Widget Overrides */
#google_element .goog-te-gadget-simple {
  background-color: transparent !important;
  border: none !important;
  display: inline-block;
  vertical-align: middle;
}

#google_element .goog-te-gadget-simple .goog-te-menu-value * {
  color: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
}

/* Hide Google's logo and "powered by" text */
.goog-logo-link,
.goog-te-gadget-icon {
  display: none !important;
}

/* This is the banner that appears at the top of the page */
body > .skiptranslate {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}

/* This is the tooltip that appears on hover */
#goog-gt-tt, .goog-te-balloon-frame {
  display: none !important;
}